/* Estilos para los íconos  */

#water {
    color: #1ca9c9;
    font-size: 1.25rem;
}

#leaf {
    color: #81c784;
    font-size: 1.25rem;
}

#seedling {
    color: #f0db4f;
    font-size: 1.25rem;
}

#recycle {
    color: #8bc34a;
    font-size: 1.25rem;
}

#tree {
    color: #2e7d32;
    font-size: 1.25rem;
}

#shower {
    color: #4fc3f7;
    font-size: 1.25rem;
}

#industry {
    color: #757575;
    font-size: 1.25rem;
}

#landmark {
    color: #795548;
    font-size: 1.25rem;
}

#balance {
    color: #9e9e9e;
    font-size: 1.25rem;
}

/* Agrega esto al final de tu CSS */

.code-block-container {
    position: relative;
    margin: 10px 0;
}

.copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
    cursor: pointer;
    color: var(--text-color);
    opacity: 0;
    transition:
        opacity 0.3s,
        background 0.3s;
    font-size: 1.5rem;
    z-index: 2;
}

.dark-theme .copy-button {
    background: rgba(255, 255, 255, 0.1);
    color: #d4d4d4;
}

.code-block-container:hover .copy-button {
    opacity: 1;
}

.copy-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.copy-button.copied {
    color: #4caf50;
    background: rgba(76, 175, 80, 0.1);
}

/* Asegúrate de incluir Font Awesome para los íconos */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
